@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


/* Font Theme */
@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/* === Global Styling === */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Helvetica Neue Condensed Bold', sans-serif !important;
}

.bg-master {
    background: url('/public/images/bg.jpg');
    background-size: cover;
    height: 100vh;
}

.bg-form {
    background: url('/public/images/bg-form.png');
    background-size: cover;
    background-position: center;
}

.bubble {
    position: absolute;
    max-width: 220px;
    padding: 10px 14px;
    background: #fff;
    border-radius: 16px;

    line-height: 1.4;
    word-break: break-word;
    white-space: normal;

    box-shadow: 0 6px 18px rgba(0,0,0,.18);
    pointer-events: none;
}

.bubble.from-left {
    text-align: left;
}

.bubble.from-right {
    text-align: right;
}