@import 'tailwindcss';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


/* Font Theme */
@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/* === Global Styling === */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Helvetica Neue Condensed Bold', sans-serif !important;
}

.bg-master {
    background: url('/public/images/bg.jpg');
    background-size: cover;
    height: 100vh;
}

.bg-form {
    background: url('/public/images/bg-form.png');
    background-size: cover;
    background-position: center;
}